.page-top {
    /* margin: auto;
    width: 90vw;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    border: 1px solid pink; */
}

/* .view-highscore {
    height: 100%;
    width: 10vw;
    border: 1px solid black;
}
.timer {
    height: 100%;
    width: 10vw;
    border: 1px solid black;
} */

/* changed from container */
.main {
    margin: auto;
    margin-top: 20px;
    width: 60vw;
    /* height: 60vh; */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 1px solid black; */
}